
<!--<div style="padding-top:16px;">
<%= link_to events_path, class: "backbutton", style: "block-size: fit-content; width: fit-content" do%>
  <i class="fa-sharp fa-solid fa-left-long"></i>
<% end %>
</div>
-->
<div class="loginform", style="padding: 10px">
  <div class = "event55">
    <h1 style="color:#4c57af">My bookmarks</h1>
  </div>
  <br>
  <div class = "event" >
    <% @bookmarks.each do |x| %>
    <div class="namecan", style="display:flex; justify-content:space-between">
          <p style><%= link_to x.event.name, event_path(x.event) %></p>
        <%= link_to bookmark_path(x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "color:black; background-color:white; padding:0px" do%>
          <i class="fa-solid fa-trash", style="color:#4c57af; font-size:larger"></i>
    </div>
      <div class="inner", style = "display:flex">
             <img src = <%=x.event.image%> style= 'height:100px'>
          <p style="margin-left:10px; font-weight:normal"><%= x.event.description.html_safe %></p>
          <br>
        </div>
          <p style= 'text-align:center'>-----------------------------------------</p>
        <% end %>
    <% end %>
  </div>
</div>
