<div data-controller="event">
  <%= form_with url: events_path, method: :get, data: { action: "submit->event#getLocation" } do |f| %>
    <%= f.text_field :query, data: { event_target: "input", personality_type: "Culture Enthusiasts" } %>
    <%= f.submit "Submit" %>
  <% end %>

  <ul data-search-target="list">
  </ul>
</div>

<div class="event">
  <% @events.each do |x| %>
    <p id="name"><%= x.name %>
    <%= link_to event_bookmarks_path(x, @bookmark), data: { turbo_method: :post } do %>

      <i class="fa-regular fa-bookmark"></i>
    <% end %>
    </p>
  <% end %>
</div>
