<div class="loginform", style="padding: 10px">
<br>

  <%= link_to events_path, class: "event55", style: "block-size: fit-content; width: fit-content" do%>
    <i class="fa-sharp fa-solid fa-left-long"></i>
  <% end %>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%= link_to "Write a Review", new_event_review_path(@event), class:"event" %>
  <br>
  <div class = "event55">
    <h1>Reviews</h1>
    <div class = "event" style = "block-size: fit-content; width: fit-content">
      <% @event.reviews.each do |x| %>
        <%= x.rating %>:
        <%= x.comment %>
        <%= x.user.email %>
        <% if x.user_id == @user.id %>
          <%= link_to edit_event_review_path(x) do%>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to review_path(x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
</div>
