<div class = "event">
<% if @user.photo.key.nil? %>
    <%= image_tag "https://d32ogoqmya1dw8.cloudfront.net/images/serc/empty_user_icon_256.v2.png", alt: "profile", style: "height:100px" %>
<% else %>
  <%= cl_image_tag @user.photo.key, height: 100, crop: :fill %>
<% end %>
<br>
<br>
  <h2><strong>User #: </strong><%= @user.id %></h2>
  <h2><strong>Email: </strong><%= @user.email %></h2>
  <h2><strong>Bookmarks: </strong><%= @user.bookmark_ids.count %></h2>
  <h2><strong>Reviews: </strong><%= @user.review_ids.count %></h2>
</div>

