<div class="loginform", style="padding: 10px">
    <div style="padding-top:16px;">
    <%= link_to events_path, class: "backbutton", style: "block-size: fit-content; width: fit-content" do%>
      <i class="fa-sharp fa-solid fa-left-long"></i>
    <% end %>
    </div>
  <br>

      <h1 class = "event55">Edit review</h1>
    <div class = "event55">
        <%= simple_form_for [@event, @review] do |f| %>
          <%= f.input :rating, collection: 0..5%>
          <%= f.input :comment %>
              <%= f.submit "Submit", class: "btn" %>
        <% end %>
    </div>
</div>
