<div class="loginform", style="padding: 10px">
    <div class = "event55">
        <h1 style="color:#4c57af">My reviews</h1>
    </div>
  <br>
    <div class = "event">
      <% @reviews.each do |x| %>
        <% if current_user.id == @user.id %>
            <%= x.event.name %> -
            <%= x.rating %>:
            <%= x.comment %>
            <%= link_to edit_event_review_path(x, x.event) do%>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to review_path(x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
              <i class="fa-solid fa-trash"></i>
        <% end %>
      <br>
      <% end %>
      <% end %>
    </div>
</div>
